<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
      <a class="navbar-brand text-white" href="#" (click)="onToggleSidebar()">
        <img src="F1-logo.png" style="width: 30px; height: auto; margin-right: 8px;">
       {{ 'FormulaNews' }}
      </a>  
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#pilots">Pilotos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#cars">Carros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#teams">Equipes</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
  