<div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/hamilton.jpg" class="card-img-top" alt="Hamilton">
          <div class="card-body">
            <h5 class="card-title">Lewis Hamilton</h5>
            <p class="card-text">Lewis Hamilton é um piloto britânico de Fórmula 1, considerado um dos maiores da história do esporte. Ele é conhecido por sua habilidade excepcional nas pistas e sua consistência ao longo das temporadas. Hamilton quebrou diversos recordes, incluindo o de vitórias em Grandes Prêmios, e é múltiplo campeão mundial.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/verstappen.jpg" class="card-img-top" alt="Russell">
          <div class="card-body">
            <h5 class="card-title">Max Verstappen</h5>
            <p class="card-text">Max Verstappen é um piloto holandês de Fórmula 1, conhecido por seu talento precoce e agressividade nas corridas. Campeão mundial de 2021, 2022, 2023 e 2024 ele é um dos pilotos mais dominantes da atualidade, com várias vitórias e recordes de desempenho. Verstappen é reconhecido por sua habilidade em se adaptar a diferentes condições de pista e por sua consistência nas corridas, especialmente nas batalhas intensas. Ele é um piloto determinado e com grande capacidade de controle de seu carro, destacando-se no time Red Bull Racing..</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/alonso.jpg" class="card-img-top" alt="Albon">
          <div class="card-body">
            <h5 class="card-title">Fernando Alonso</h5>
            <p class="card-text">Fernando Alonso é um piloto espanhol de Fórmula 1, considerado um dos melhores da história do esporte. Campeão mundial em 2005 e 2006 com a Renault, ele é conhecido por sua habilidade estratégica, inteligência nas corridas e capacidade de extrair o máximo de seu carro, mesmo em condições adversas. Alonso teve uma carreira marcada por altos e baixos, passando por diferentes equipes como McLaren, Ferrari e atualmente a Aston Martin. Com uma grande experiência, ele continua sendo competitivo e respeitado no grid, sendo admirado por sua perseverança e paixão pela F1.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">

      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/mercedes-car.jpg" class="card-img-top" alt="Aston Car">
          <div class="card-body">
            <h5 class="card-title">Mercedes W15</h5>
            <p class="card-text">O Mercedes-AMG F1 W15 E Performance é um carro de Fórmula 1 construído pela equipe da Mercedes para disputar o Campeonato Mundial de Fórmula 1 de 2024, sendo pilotado por Lewis Hamilton e George Russell. Até o momento o carro já conquistou 4 vitórias, 9 pódios e 3 pole position, sendo duas vitórias com Lewis Hamilton e uma com George Russell.</p>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/redbull-car.jpg" class="card-img-top" alt="Red Bull Car">
          <div class="card-body">
            <h5 class="card-title">Red Bull RB20</h5>
            <p class="card-text">O Red Bull Racing RB20 é o modelo de carro construído e utilizado pela Red Bull Racing para a disputa do Campeonato Mundial de Fórmula 1 de 2024, pilotado por Max Verstappen e Sergio Pérez. O carro foi revelado na fábrica da equipe, em Milton Keynes, em 15 de fevereiro de 2024.</p>
          </div>
        </div>
      </div>
   
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/aston-car.jpg" class="card-img-top" alt="Williams Car">
          <div class="card-body">
            <h5 class="card-title">Aston Martin AMR24</h5>
            <p class="card-text">O Aston Martin AMR24 é o carro de Fórmula 1 desenvolvido pela Aston Martin Aramco F1 Team para o Campeonato Mundial de Fórmula 1 de 2024, pilotado por Fernando Alonso e Lance Stroll. Até o momento, o AMR24 não conquistou nenhum pódio, apresentando desempenho inferior ao seu antecessor, o AMR23, que alcançou 8 pódios em 2023.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
    
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/mercedes-logo.jpg" class="card-img-top" alt="Red Bull Logo">
          <div class="card-body">
            <h5 class="card-title">Mercedes-AMG Petronas F1 Team</h5>
            <p class="card-text">A Mercedes-AMG Petronas F1 Team, com sede em Brackley, Inglaterra, compete com licença alemã e é conhecida como "Silver Arrows". Após retornar à Fórmula 1 em 1994 como fornecedora de motores, a equipe comprou a Brawn GP em 2010 e se tornou Mercedes. Desde 2014, com a introdução de motores híbridos, a equipe dominou a F1, conquistando sete títulos consecutivos de Pilotos e oito de Construtores. A equipe é uma das mais vitoriosas da história da F1, com mais de 200 vitórias como fornecedora de motores.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/redbull-logo.jpg" class="card-img-top" alt="Aston Logo">
          <div class="card-body">
            <h5 class="card-title">Oracle Red Bull Racing</h5>
            <p class="card-text">A Red Bull Racing, atualmente competindo como Oracle Red Bull Racing, é uma equipe de Fórmula 1 com licença de corrida austríaca e sede no Reino Unido. A equipe pertence ao conglomerado Red Bull GmbH, que também possui a RB Formula One Team. Fundada em 2005, a Red Bull Racing é gerida por Christian Horner. A equipe usou motores Cosworth em 2005, Ferrari em 2006, e Renault de 2007 a 2018, período em que conquistou quatro títulos consecutivos de Campeonatos de Pilotos e Construtores entre 2010 e 2013. Desde 2019, a equipe passou a utilizar motores Honda, com os quais conquistou o título de Campeão de Pilotos com Max Verstappen em 2021, 2022, 2023 e 2024. A Honda deixou oficialmente a Fórmula 1 após 2021, mas continuará fornecendo motores até o final de 2025 sob a marca Red Bull Powertrains.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/aston-logo.jpg" class="card-img-top" alt="Ferrari Logo">
          <div class="card-body">
            <h5 class="card-title">Aston Martin Aramco F1 Team</h5>
            <p class="card-text">A Aston Martin participou da Fórmula 1 pela primeira vez em 1959, mas após um desempenho ruim, se retirou ao final de 1960. Em 2021, a equipe Racing Point foi rebatizada como Aston Martin, utilizando unidades de potência Mercedes. Em 2026, a equipe passará a usar motores Honda. A equipe, de propriedade de Lawrence Stroll, conta com os pilotos Fernando Alonso e Lance Stroll desde 2023 e tem sua sede em Silverstone. A equipe já competiu sob diferentes nomes, começando com a Jordan Grand Prix em 1991.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  