<div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/hamilton.jpg" class="card-img-top" alt="Hamilton">
          <div class="card-body">
            <h5 class="card-title">Hamilton</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/russell.jpg" class="card-img-top" alt="Russell">
          <div class="card-body">
            <h5 class="card-title">Russell</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/albon.jpg" class="card-img-top" alt="Albon">
          <div class="card-body">
            <h5 class="card-title">Albon</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">

      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/redbull-car.jpg" class="card-img-top" alt="Red Bull Car">
          <div class="card-body">
            <h5 class="card-title">Red Bull Car</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/aston-car.jpg" class="card-img-top" alt="Aston Car">
          <div class="card-body">
            <h5 class="card-title">Aston Car</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/williams-car.jpg" class="card-img-top" alt="Williams Car">
          <div class="card-body">
            <h5 class="card-title">Williams Car</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
    
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/redbull-logo.jpg" class="card-img-top" alt="Red Bull Logo">
          <div class="card-body">
            <h5 class="card-title">Red Bull</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/aston-logo.jpg" class="card-img-top" alt="Aston Logo">
          <div class="card-body">
            <h5 class="card-title">Aston Martin</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
  
      <div class="col-12 col-md-4">
        <div class="card">
          <img src="/images/ferrari-logo.jpg" class="card-img-top" alt="Ferrari Logo">
          <div class="card-body">
            <h5 class="card-title">Ferrari</h5>
            <p class="card-text">coloca alguma descrição aq.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  