<div class="d-flex" [ngClass]="{'bg-dark': true, 'text-white': isSidebarOpen}">
    <div class="bg-dark text-white p-3" style="width: 250px;">
      <h4>
        <img src="F1-logo.png" style="width: 30px; height: auto; margin-right: 8px;">
        FormulaNews
      </h4>
      
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Sobre a FormulaNews</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Entre em contato</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Acesse sua conta</a>
        </li>
      </ul>
    </div>
  </div>
  